body {
  margin: 0;
  background: linear-gradient(
    0deg,
    rgb(149, 225, 255) 0%,
    rgb(159, 229, 255) 56%,
    rgb(150, 220, 251) 83%
  );
  padding: 0;
  overflow-x: hidden; /* Ngăn chặn cuộn ngang */
}
ul {
  margin-bottom: 0;
  margin-top: 0;
}
#app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
}

.navigation {
}
.menu_header {
  width: 100%;
}
.menu_list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  border-radius: 10px;
  padding-left: 0;
  padding: 0 12px;
}
.menu_list li {
  font-size: 14px;
  font-weight: 600;
}
.sub_menu_header-nav_item {
  text-decoration: none;
  text-decoration: none;
  color: #006c76;
  text-transform: uppercase;
  width: 100%;
}
.sub_menu_header-nav_item_img {
  width: 200px;
}
.line-menu {
  width: 95%;
  margin: auto;
  /* border-style: double; */
  border: 0.5px double #fff;
}
.sub_menu_header {
  margin-bottom: 24px;
  position: relative;
  display: none;
}
.sub_menu_header-img {
  width: 24px;
  float: left;
  margin: 12px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.sub_menu_header-nav {
  display: none;

  float: left;
  width: 20%;
  min-width: 200px;
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 5px;
  z-index: 1;
}
.sub_menu_header-nav_list {
  padding-left: 0;
  list-style-type: none;
}
.sub_menu_header-nav_list > li:first-child {
  margin-top: 0;
}
.sub_menu_header-nav_list > li {
  padding: 4px 12px;
  font-size: 14px;
  border: 1px solid #fff;
  background-color: rgb(0 159 255);
  border-radius: 5px;
}
.sub_menu_header-nav_list > li:hover {
  opacity: 0.6;
}
.sub_menu_header-nav_item {
  text-decoration: none;
  color: #004053;
}
.show {
  display: block;
}

/* Section 1 */
.section_1 {
  display: flex;
}
.class-widthFixed {
}
.haeder-bg {
  margin-left: 12px;
}
.text_header {
  width: 100%;
  text-align: justify;
  opacity: 1;
  left: 117px;
  animation-name: example_4;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes example_4 {
  0% {
    left: 0px;
    opacity: 0;
  }

  100% {
    left: 117px;
    opacity: 1;
  }
}
.text_header h1 {
  text-align: center;
  font-size: 32px;
  /* line-height: 2.63vw; */
  color: #004168;
  opacity: 1;
  font-weight: 900;
  margin-top: 25%;
}
.text_header p {
  font-size: 20px;
  color: #ffffff;
  opacity: 1;
  font-weight: 700;
}
.hinh_head {
}
.hinh_head img {
  width: 600px;
}
.chuanDoanOnline {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.chuanDoanOnline a {
  width: 70%;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 57, 110);
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
}

.chuanDoanOnline a:hover {
  color: rgb(255, 255, 255);
  background-color: #004168;
}

/* Đột quỵ */
.KNDotQuy {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  align-items: center;
  animation-timing-function: ease-in-out;
  animation-name: cuontrang;
  animation-timeline: view();
  animation-range: 0 40%;
}
@keyframes cuontrang {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.tongthe_kNdotquy {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nen_dotquy {
  width: 50%;
  animation-timing-function: ease-in;
  animation-name: chuyendong2;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes chuyendong2 {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.content_DotQuy img {
  width: 820px;
  position: absolute;
  top: -105px;
  right: 440px;
}

.content_DotQuy {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation-timing-function: ease-in;
  animation-name: chuyendong1;
  animation-timeline: view();
  animation-range: 0 40%;
}
@keyframes chuyendong1 {
  from {
    opacity: 0;
    transform: translateX(600px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.content_DotQuy h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  background-color: #73c5f8;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.content_DotQuy p {
  width: 80%;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  text-align: justify;
  background-color: #56a4d4;
  padding: 20px;
  border-radius: 20px;
  margin-right: 30px;
}

.duongLine {
  width: 500px;
  margin-bottom: 10px;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-top: 20px;
}

.bieudo {
  width: 300px !important;
  height: 300px !important;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  margin-left: 120px;
}

.chart {
  text-align: center;
}

.chart h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

/* Kiểm tra đột quỵ */
.kiemTraDotQuy {
  height: 100vh;
  margin-bottom: 90px;
  /* background: rgb(2,14,38);
  background: linear-gradient(180deg, rgba(2,14,38,1) 0%, rgba(32,90,128,1) 32%, rgba(0,154,189,1) 56%, rgba(59,196,255,1) 83%); */
  position: relative;
}

.text-kiemTraDotQuy {
  width: 70%;
  /* border: 1px solid #000; */
  padding: 20px;
  /* background-color: #abeaff; */
  position: relative;
  height: 100vh;

  animation-timing-function: ease-in;
  animation-name: chuyendong3;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes chuyendong3 {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.CacBuoc {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 30px;
}

.text-kiemTraDotQuy h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 150px;
}

.CacBuoc .khungCacBuocKiemTra {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
  border-radius: 15px;
  padding: 10px;
  background-color: #3ebbf9;
  margin-bottom: 10px;
}

.CacBuoc .khungCacBuocKiemTra:hover {
  background-color: #09a9f9;
}
.CacBuoc .khungCacBuocKiemTra li {
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
}

.CacBuoc .khungCacBuocKiemTra li img {
  width: 50px;
}

.img-kiemTraDotQuy {
  position: absolute;
  top: -54px;
  right: -305px;
}

.img-kiemTraDotQuy img {
  width: 900px;
}

.demGio {
  display: flex;
  width: 650px;
  height: 50px;
  /* background-color: blue; */
  justify-content: space-around;
  align-items: center;
  padding: 0 16px;
}

.nutDemGio {
  width: 250px;
  height: 50px;
  background-color: rgb(1, 85, 85);
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.nutDemGio:hover {
  background-color: rgb(0, 161, 161);
}
.soDemGio {
  font-size: 40px;
  margin-right: 32px;
  color: rgb(0, 88, 123);
  font-weight: 700;
}

/* BEFAT */
.BeFast {
  width: 100%;
  /* background: rgb(2,14,38);
    background: linear-gradient(0deg, rgba(2,14,38,1) 0%, rgba(32,90,128,1) 32%, rgba(0,154,189,1) 56%, rgba(59,196,255,1) 83%); */
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  padding-top: 50px;

  animation-timing-function: ease-in-out;
  animation-name: cuontrang;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes cuontrang {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.CacBeFast {
  width: 80%;
  margin: auto;
}

.CacBeFast h2 {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.hangBeFast {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  gap: 40px;
}

.col-4 {
  width: 28%;
  height: 310px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
  padding-top: 20px;
  border-radius: 20px;
  transition: 0.7s;
}
.col-4:hover {
  scale: 1.1;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
.col-4 img {
  width: 120px;
}

.col-4 h3 {
  font-size: 25px;
  margin: 14px 0px 0px 0px;
  background: -webkit-linear-gradient(#07beff, #8353ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.col-4 p {
  width: 90%;
  text-align: justify;
  font-size: 13px;
  font-weight: 800;
  color: #00589a;
}

/* Nguyên nhân */
.nguyenNhan {
  margin: 0;
  padding-top: 50px;
  margin-top: 50px;
  height: 100vh;
  /* background: rgb(2,14,38);
  background: linear-gradient(180deg, rgba(2,14,38,1) 0%, rgba(32,90,128,1) 32%, rgba(0,154,189,1) 56%, rgba(59,196,255,1) 83%); */

  animation-name: cuontrang;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes cuontrang {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.nguyenNhan h2 {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}
.nguyenNhan_1 {
  display: flex;
  gap: 30px;
}

.imgto {
  width: 550px;
  height: 80vh;
  margin-right: 30px;

  animation-name: chuyendong_nguyenNhan_img;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes chuyendong_nguyenNhan_img {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.img-text_nguyennhan1 {
  display: flex;
  align-items: center;
  height: 50px;
}

.img-text_nguyennhan1 p {
  font-size: 25px;
  font-weight: 800;
  color: #fff;
}

.img-text_nguyennhan1 img {
  width: 40px;
}

.cacNguyenNhan1 {
  margin-left: 20px;
}

.KhungConNN1 {
  display: flex;
  list-style: none;
  align-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.KhungConNN1 img {
  width: 30px;
}

.KhungConNN1 li {
  font-size: 18px;
  font-weight: 700;
}

/* Phòng tránh */
.phongTranh {
  /* width: 90%; */

  margin: auto;
  padding-top: 50px;
  height: 100vh;
  /* background: rgb(2,14,38);
  background: linear-gradient(0deg, rgba(2,14,38,1) 0%, rgba(32,90,128,1) 32%, rgba(0,154,189,1) 56%, rgba(59,196,255,1) 83%); */

  animation-timing-function: ease-in-out;
  animation-name: cuontrang;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes cuontrang {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/* ============= */

.ndphongtranh {
  display: flex;
}

.tieuDePhongTranh {
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  margin: 16px 0;
}
.myBody {
  width: 50%;
}

.text-phongTranh {
  width: 70%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  position: relative;

  animation-timing-function: ease-in;
  animation-name: chuyendongphongtranh;
  animation-timeline: view();
  animation-range: 0 40%;
}

.text-phongTranh p {
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
  background-color: #fff;
  padding: 50px;
  border-radius: 20px;
  z-index: 5;
}

@keyframes chuyendongphongtranh {
  from {
    opacity: 0;
    transform: translateX(600px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* ============= */

.text-phongTranh img {
  position: absolute;
  width: 641px;
  z-index: 6;
  right: -42px;
  opacity: 0.2;
}

/* Hướng dẫn */
.huongdan {
  height: 100vh;
  /* background: rgb(2,14,38);
  background: linear-gradient(180deg, rgba(2,14,38,1) 0%, rgba(32,90,128,1) 32%, rgba(0,154,189,1) 56%, rgba(59,196,255,1) 83%); */
  padding-top: 50px;
  margin: auto;
  animation-name: cuontrang;
  animation-timeline: view();
  animation-range: 0 40%;
  position: relative;
}

@keyframes cuontrang {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.cogai {
  width: 600px;
  position: absolute;
  top: 50px;
  left: -220px;
  z-index: 5;

  animation-timing-function: ease-in;
  animation-name: chuyendonghd2;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes chuyendonghd2 {
  from {
    scale: 2;
  }
  to {
    scale: 1;
  }
}

.huongdan h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.hd {
  display: flex;
  position: absolute;
  top: 55px;
  z-index: 6;
  bottom: 150px;
}

.huongdan .video-hd {
  padding-left: 40px;
  width: 60%;
  margin-top: 185px;

  animation-timing-function: ease-in;
  animation-name: chuyendonghd1;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes chuyendonghd1 {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.huongdan .video-hd video {
  width: 100%;
}
.huongdan .video-hd img {
  width: 500px;
  position: absolute;
  top: 155px;
}
.text-huongdan {
  width: 50%;
  margin-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  animation-timing-function: ease-in;
  animation-name: chuyendonghd;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes chuyendonghd {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* ============= */

.khunghd {
  z-index: 3;
  display: flex;
  list-style: none;
  align-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.khunghd img {
  width: 30px;
}

.khunghd li {
  font-size: 18px;
  font-weight: 700;
}

/* Bài viết */
.baiViet {
  margin: 0;
  padding-top: 50px;
  margin-top: 100px;
  height: 100vh;
  /* background: rgb(2,14,38);
  background: linear-gradient(0deg, rgba(2,14,38,1) 0%, rgba(32,90,128,1) 32%, rgba(0,154,189,1) 56%, rgba(59,196,255,1) 83%); */
  animation-name: cuontrang;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes cuontrang {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.baiViet h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 10px;
}

.tongthebaiviet {
  display: flex;
  gap: 40px;
}

.baiVietChinh {
  width: 45%;
  /* padding-left: 50px; */
  padding: 30px;
  background-color: #a9e2ff;
  border-radius: 10px;
  margin-left: 30px;

  text-align: center;
}

.baiVietChinh img {
  width: 510px;
  height: 300px;
  border-radius: 20px;
  transition: 0.5s;
}
/* .baiVietChinh img:hover{
  scale: 0.9;
} */
.text-baiVietChinh {
  width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.baiVietChinh .text-baiVietChinh h2 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.text-baiVietChinh p {
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.text-baiVietChinh a button {
  width: 200px;
  height: 40px;
  background-color: #38b7f8;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
.text-baiVietChinh a button:hover {
  background-color: #fff;
  color: #7ad2ff;
}
.baiVietPhu {
  width: 48%;

  animation-timing-function: ease-in;
  animation-name: chuyendong1;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes chuyendong1 {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.baiVietPhu .khungBaiviet {
  list-style: none;
  display: flex;
  padding: 0;
  width: 100%;
  background-color: #fff;
  margin: 0px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  height: 210px;
}

.baiVietPhu .khungBaiviet li {
  display: flex;
  /* width: 200px; */
  align-content: center;
  justify-content: center;
  align-items: center;
}

.baiVietPhu .khungBaiviet li a img {
  width: 200px;
}

.text-baiVietPhu {
  margin-left: 20px;
  text-align: justify;
  margin-right: 10px;
}

.text-baiVietPhu h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.text-baiVietPhu p {
  font-size: 15px;
}
.text-baiVietPhu a button {
  background-color: #27b2e3;
  width: 150px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.text-baiVietPhu a button:hover {
  background-color: #006b9c;
  color: #27b2e3;
}

/* Cơ sở y tế */
.cosoyte {
  margin: auto;
  padding-top: 50px;
  height: 90vh;
  /* background: rgb(2,14,38);
    background: linear-gradient(180deg, rgba(2,14,38,1) 0%, rgba(32,90,128,1) 32%, rgba(0,154,189,1) 56%, rgba(59,196,255,1) 83%); */

  animation-timing-function: ease-in-out;
  animation-name: cuontrang;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes cuontrang {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.cosoyte h2 {
  margin-left: 30px;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}

.ndcosoyte {
  width: 80%;
}

.tongtheCsyt {
  display: flex;
  width: 100%;
}

.ndcosoyte .khungcsyt {
  margin-left: 30px;
  list-style: none;
  /* width: 70%; */
  height: 160px;
  background-color: #cbe7ff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.ndcosoyte .khungcsyt hr {
  margin: 0px;
  border: 0.5px solid #00ddff;
}

.ndcosoyte .khungcsyt li h3 {
  margin: 0px;
  color: rgb(0, 94, 141);
  margin-left: 40px;
}

.icon_Img_csyt {
  width: 30px;
  height: 30px;
}

.text_csyt {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
  gap: 20px;
}

.ndcosoyte button {
  width: 200px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #49dbff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  margin-left: 250px;
  transition: 0.5s;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ndcosoyte button:hover {
  background-color: #00647c;
}

.hinh_csyt {
  width: 65%;
  position: relative;
}
.hinhbenhvien {
  opacity: 0.5;
}

.xe {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.xe img {
  width: 300px;

  animation-name: xechay;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative; /* Đảm bảo phần tử có thể di chuyển */
}

@keyframes xechay {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.left-danhsachcosoyte {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ndcosoyte-2 {
  display: none;
}

.anbotcosoyte {
  display: none;
}

/* Lời kêu gọi */
.keugoi {
  margin: auto;
  margin-top: 400px;
  height: 100vh;
  /* background: rgb(2,14,38);
  background: linear-gradient(0deg, rgba(2,14,38,1) 0%, rgba(32,90,128,1) 32%, rgba(0,154,189,1) 56%, rgba(59,196,255,1) 83%); */

  animation-timing-function: ease-in-out;
  animation-name: cuontrang;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes cuontrang {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.keugoi h2 {
  /* margin-left: 30px; */
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#2dd9ff, #05b8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-right: 300px; */
}

.tongthe_keugoi {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.hinh_keugoi img {
  width: 600px;
  animation-timing-function: ease-in;
  animation-name: chuyendong3;
  animation-timeline: view();
  animation-range: 0 40%;
}

@keyframes chuyendong3 {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.noidung_keugoi {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.loikeugoi {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background: -webkit-linear-gradient(#50b6ff, #0079ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loikeugoi_con {
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  width: 65%;
  background-color: #9aebff;
  padding: 20px 46px;
}
.loikeugoi_con h3 {
  font-size: 45px;
  font-weight: 700;
  background: -webkit-linear-gradient(#001d3c, #00507a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  margin-bottom: 20px;
}

.loikeugoi_con p strong {
  font-size: 25px;
  font-weight: 700;
  word-spacing: 10px;
  color: #005883;
  margin: 0px;
}

.loikeugoi_con p {
  margin: 5px;
  font-size: 20px;
  color: #003f6e;
}

.noidung_keugoi button {
  width: 200px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #49dbff;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  margin-top: 20px;
  transition: 0.5s;
  margin: 12px 4px 0;
}

.noidung_keugoi button:hover {
  background-color: #003846;
}

/* Footer */
.tongthe_footer {
  min-height: 40vh;
  width: 100%;
}

.footer-dotquy {
  background-color: #67d4ff;
  width: 100%;
}

.logo_name img {
  width: 250px;
}

.footer-dotquy .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

.footer-dotquy .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-direction: column;
}

.footer-dotquy .content .top hr {
  width: 80%;
  border: 0.5px solid #afafb6;
  margin-bottom: 30px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.media-icons img {
  width: 50px;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #003740;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #00414b;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}

.footer-dotquy .bottom-details {
  width: 100%;
  background: #005562;
}

.footer-dotquy .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

/* Chat box */
.chatbot__button {
  position: fixed;
  bottom: 35px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #227ebb;
  color: #f3f7f8;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.chatbot__button span {
  position: absolute;
}
.show-chatbot .chatbot__button span:first-child,
.chatbot__button span:last-child {
  opacity: 0;
}
.show-chatbot .chatbot__button span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 420px;
  background-color: #f3f7f8;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1) 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transform: scale(0.5);
  transition: transform 0.3s ease;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot__header {
  position: relative;
  background-color: #227ebb;
  text-align: center;
  padding: 16px 0;
}
.chatbot__header span {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  color: #202020;
  transform: translateY(-50%);
  cursor: pointer;
}
.chatbox__title {
  font-size: 1.4rem;
  color: #f3f7f8;
}
.chatbot__box {
  height: 510px;
  overflow-y: auto;
  padding: 30px 20px 100px;
}
.chatbot__chat {
  display: flex;
}
.chatbot__chat p {
  max-width: 75%;
  font-size: 0.95rem;
  white-space: pre-wrap;
  color: #202020;
  background-color: #019ef9;
  border-radius: 10px 10px 0 10px;
  padding: 12px 16px;
}
.chatbot__chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.incoming p {
  color: #202020;
  background: #bdc3c7;
  border-radius: 10px 10px 10px 0;
}
.incoming span {
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #f3f7f8;
  background-color: #227ebb;
  border-radius: 4px;
  text-align: center;
  align-self: flex-end;
  margin: 0 10px 7px 0;
}
.outgoing {
  justify-content: flex-end;
  margin: 20px 0;
}
.incoming {
  margin: 20px 0;
}
.chatbot__input-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  border-top: 1px solid #008ccc;
  background: #f3f7f8;
  padding: 5px 20px;
}
.chatbot__textarea {
  width: 100%;
  min-height: 55px;
  max-height: 180px;
  font-size: 0.95rem;
  padding: 16px 15px 16px 0;
  color: #202020;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
}
.chatbot__textarea::placeholder {
  font-family: "Poppins", sans-serif;
}
.chatbot__input-box span {
  font-size: 1.75rem;
  color: #202020;
  cursor: pointer;
  visibility: hidden;
}
.chatbot__textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .chatbot__box {
    height: 90%;
  }
  .chatbot__header span {
    display: inline;
  }
}
